@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
}

.wrapper {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.wrapper__title {
    font-size: 28px;
    color: #0f2027;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.wrapper__quiz {
    padding: 20px 0;
}